.main-card {
    background-color: #FFFFFF;
    color: #00978F;
    text-align: start;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    box-shadow: 4px -4px 10px rgba(17, 104, 218, 0.25), -4px 4px 10px rgba(17, 104, 218, 0.25);
}

.main-card h3 {
    color: #19355C;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 2.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.main-card p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

.main-card a {
    color: #19355C;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.main-card a img {
    margin-left: 1rem;
}