.section {
    background-color: white;
    border: 2px solid #19355C;
    box-shadow: 2px 2px 2px 2px #00978F;
    text-align: start;
    border-radius: 5px;
    color: #00978F;
    margin-top: 2rem;
    padding: 1rem;
}

.section a {
    color: #19355C;
}

