.rowC {
    display: flex;
}

.admin-background {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.admin-main {
    width: 80%;
    margin: 0 auto;
}

.cards-row {
    display: flex;
    justify-content: space-between;
}

