:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: #1168DA;
}

body{
    background-color: #1168DA;
    margin: 0;
}
body #root {
    width: 100%;
    height: 100%;
}