.navbari {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#FEFEFE;
}

.navbari a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  .rowC {
    display: flex;
    flex-direction: row;
}