.admin-form select {
  background-color: transparent;
  border: 1px solid #1168da;
  border-radius: 9px;
  padding: 1rem;
}

.admin-form input {
  border: 1px solid #1168da !important;
  border-radius: 9px !important;
  min-width: 150px;
}

.admin-form button,
.delete-button {
  margin-top: 1rem;
  background-color: #1168da;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.cancel-button {
  margin-top: 1rem;
  background-color: transparent;
  color: #1168da;
  border: none;
  border-radius: 9px;
  padding: 1rem 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.close {
  background-color: transparent;
  color: #1168da;
  border-color: #1168da;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 1rem;
}
