@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #1168DA;
    background-image: url(../src/assets/BackgroundVector.svg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0% bottom 90%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.FormContent {
    background-image: url(../assets/BackgroundForm.svg);
    background-repeat: no-repeat;
    width: 1053px;
    height: 1403px;
    margin: auto;
}

.FormContent h3 {
    font-weight: 600;
    font-size: 20px;
}

.FormContent h4 {
    font-weight: 500;
    font-size: 14px;
}

.FormContent h3, .FormContent h4 {
    color: #FBFBFD;
    margin: 0;
    padding: 0;
    top: 22px;
    position: relative;
}

.FormContent form {
    background: #E3EDFF;
    border: 1px solid #99BBFF;
    border-radius: 10px;
    width: 1041px;
    height: 1200px;
    top: 164px;
    position: relative;
}

.FormContent form .SubTitle {
    position: relative;
    bottom: 86px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.FormContent form .NumbersFormPosition {
    left: 48px;
    top: 11px;
    position: relative;
}

.FormContent form .NumbersForm {
    width: 950px;
    height: 877px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/* list of numbers */
.FormContent form .NumbersFormContent:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px solid #3377FF;
    transform: translate(-50%);
}

.FormContent form .NumbersForm .NumbersFormContent {
    width: 64px;
    height: 877px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.FormContent form .NumbersForm .NumbersFormCircle {
    width: 61px;
    height: 61px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-align: center;
    background: #FBFBFD;
    border: 2px solid #99BBFF;
}

.FormContent form .NumbersForm .NumbersFormCircleBlue {
    width: 61px;
    height: 61px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-align: center;
    background: #1168DA;
    border: 2px solid #99BBFF;
}

.FormContent form .NumbersForm .BigNumber {
    color: #3A3A3C;
    font-weight: 400;
    font-size: 33px;
}

.FormContent form .NumbersForm .SmallNumber {
    font-weight: 400;
    font-size: 16px;
}

.FormContent form .NumbersForm .BigNumberBlue {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 33px;
}

.FormContent form .NumbersForm .SmallNumberBlue {
    font-weight: 400;
    font-size: 16px;
}

/* -- */

.FormContent form .NumbersForm .NumbersFormInformation {
    width: 239px;
    height: 856px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.FormContent form .NumbersForm .NumbersFormInformation span {
    display: flex;
    align-items: center;
    height: 37px;
}

.FormContent form .NumbersForm .NumbersFormData {
    width: 596px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.FormContent form .NumbersForm .NumbersFormData div {
    height: 45px;
}

.FormContent form .NumbersForm .NumbersFormData .SelectStyle {
    height: 45px;
    display: flex;
    align-items: center;
    background: #FBFBFD;
    border-radius: 6px;
}

.FormContent form .NumbersForm .NumbersFormData select {
    width: 191px;
    height: 45px;
    border: 1px solid #99BBFF;
    border-radius: 6px;
    padding-left: 12px;
    color: #8F90A6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../src/assets/ArrowIcon.svg) no-repeat 85% 50%;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* otp input */

.UserInput {
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
}

.OtpField {
    margin: 2px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    background: #FBFBFD;
    border: 1px solid #99BBFF;
    border-radius: 3px;

}

.UserInput .CheckBox {
    display: flex;
    margin-top: 14px;
    text-align: left;
}

.UserInput .CheckBox label {
    font-weight: 500;
    font-size: 14px;
    color: #8F90A6;
    margin-left: 8px;
    width: 365px;
    height: 31px;
    line-height: 15px;
}

.CheckBoxStyle {
    width: 24px;
    height: 24px;
    background: #FBFBFD;
    border: 1px solid #99BBFF;
    border-radius: 4px;
    margin: 0;
}


/* -- */

.BirthDateContent {
    width: 596px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.BirthDate {
    width: 377px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.Datetime {
    width: 191px;
    height: 45px;
    border: 1px solid #99BBFF;
    border-radius: 6px;
    padding-left: 12px;
    color: #8F90A6;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* Address Input */
.AdressContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 561px;
    height: 45px;
}

.AddressInput {
    width: 335px;
    height: 41px;
    background: #FBFBFD;
    border: 1px solid #99BBFF;
    border-radius: 6px;
}

/* judicial confirmation */

.JudicialInput .CheckBox {
    display: flex;
    margin: 0;
    text-align: left;
    align-items: center;
}

.JudicialInput .CheckBox ul {
    padding-left: 30px;
}

.JudicialInput .CheckBox ul li {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 15px;
}

.JudicialInput .CheckBox ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 15px;
}


.EmailInput {
    width: 405px;
    height: 41px;
    background: #FBFBFD;
    border: 1px solid #99BBFF;
    border-radius: 6px;
}

.ConsentAuthorization {
    display: flex;
    align-items: center;
    text-align: left;

}

.ConsentAuthorization ul {
    padding-left: 30px;
}

.ConsentAuthorization ul li {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 15px;
}

.ConsentAuthorization ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 15px;
}

hr {
    width: 983px;
    height: 0px;
    border: 1px solid #3377FF;
    position: relative;
    top: 142px;
}