.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header h3 {
    color: #19355C;
}

.admin-header img {
    margin-top: 1rem;
}

.admin-header button {
    background-color: #1168DA;
    margin-top: 1rem;
    margin-left: 1.75rem; 
    height: 3rem;
}