.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 66px;
  z-index: 1;
}

.Menu-Links ul {
  font-weight: 400;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  display: flex;
}

.Menu-Links ul li {
  margin: 0 2rem;
}

.Menu-Links ul li a {
  color: white;
  animation: all ease-in-out;
}

.Menu-Links ul li a:hover,
.Menu-Links ul li a:focus {
  transition-duration: 0.2s;
  color: #01cfc9;
}
