*{
    margin: 0px;
}

.Footer > .container{
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: #0094FF;
    padding: 2%;
}

.Footer > .container{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer > .container > .CA{
    font-weight: 500;
    font-size: 1.3em;
}

.Footer > #copyRight{
    padding: 1%;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: #1168DA;
    color: white;
    text-align: center;
}