.Navbar {
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 264px;
}

.nav-logo {
    font-weight: 900;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.Navbar>.nav-items {
    height: 47px;
    width: 1668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.Navbar>.nav-items>div>a {
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    animation: all ease-in-out;
    font-family: 'Inter', sans-serif;
}

.Navbar>.nav-items>a::after {
    content: " ";
    width: 0%;
    height: 5%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.Navbar>.nav-items>a:hover::after {
    width: 100%;
}

.Navbar>.nav-items>a:hover,
.Navbar>.nav-items>a:focus {
    transition-duration: 0.2s;
    color: #01cfc9;
}