.navbar {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1168DA;
}

.navbar a {
    text-align: center;
    padding: 12px;
    color:#1168DA;
    text-decoration: none;
    display: inline-block;
  }

  .navbar a img {
    width: 3rem;
    height: 3rem;
  }

  .rowC {
    display: flex;
    flex-direction: row;
}